<div class="social-row">
    <a href="https://www.instagram.com/clusterbmusic" target="_blank" class="pure-social">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://www.youtube.com/@Clusterbmusic" target="_blank" class="pure-social">
        <i class="fa-brands fa-youtube"></i>
    </a>
</div>
